.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e4a65;
    transition: opacity 0.75s, visibility 0.75s;
}

.loaderHidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 100px;
    height: 100px;
    border: 15px solid #0f181f;
    border-top-color: #9a6454;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}