body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2e4a65, #0f181f);
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f181f;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header div {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0;
}

.logo {
    margin-right: 10px;
    height: 50px;
}

h1 {
    font-family: Georgia, serif;
    margin: 0px 0px 5px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #9a6454;
}

.currentPage a {
    text-decoration: underline;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #F2F2F2;
    color: #0f181f;
    padding: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}
  
.form-group label {
    margin-bottom: 5px;
}
  
.form-group input {
    margin-bottom: 5px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    margin-top: 30px;
    background-color: #0f181f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1E2F4D;
    color: #fff;
}

.error-message {
    color: #d9534f;
    margin-top: 5px;
}

#successMessage {
    /*set to invisible so we can activate it later*/
    display: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.success-message {
    display: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.user-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}