body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2e4a65, #0f181f);
    margin: 0;
    padding: 0;
}

header {
    background-color: #0f181f;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header div {
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 0;
}

.logo {
    margin-right: 10px;
    height: 50px;
}

h1 {
    font-family: Georgia, serif;
    margin: 0px 0px 5px 0;
}

nav {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #9a6454;
}

.currentPage a {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
}

input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #1E2F4D;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    max-width: 300px;
    background-color: #F2F2F2;
    color: #0f181f;
    padding: 20px;
    border-radius: 5px;

}

article {
    flex: 0 1 30%;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.user-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}